@import url('https://fonts.cdnfonts.com/css/montserrat');
@import 'tailwindcss';

@theme {
  --default-font-family: 'Montserrat', Helvetica, sans-serif;
}

@layer utilities {
  .border-default {
    @apply border-zinc-400;
  }

  .text-muted {
    @apply text-zinc-400;
  }

  .btn-default {
    @apply not-disabled:cursor-pointer not-disabled:hover:opacity-70 transition-opacity disabled:opacity-70;
  }
}

body {
  @apply p-12;
}
